{% extends "base.html" %}

{% block title %}
<title>Редактировать адресата</title>
{% endblock title %}
    
{% block content %}
<body>
    <h1><i class="fas fa-edit"></i> Редактировать адресата</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить изменения</button>
    </form>
    <div class="back-link">
        <p><a href="{% url 'recipients' %}"><i class="fas fa-arrow-left"></i> Назад к списку</a></p>
    </div>
</body>
{% endblock content %}